.containerHow {
  max-width: 100vw !important;
  margin: 0 0 !important;
  text-align: center;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.title {
  font-size: 2em;
  color: #333;
}

.imageSectionWorks {
  /* Style your image section if needed */
}

.imageWorks {
  /* Placeholder for image styling */
  width: 100%;
  height: auto;
  background: #ddd;
  max-width: 100%;
  /* Fit within the container */
  max-height: 250px;
  object-fit: cover;
  /* Cover the container without distorting the aspect ratio */
  overflow: hidden;
}

.stepsSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Add this to distribute steps evenly */
  align-items: flex-start;
  /* Add this to left-align the steps */
  padding-left: 10px; /* Add padding for spacing */
  padding-right: 10px; /* Add padding for spacing */
}

.stepCard {
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 20px;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0px;

}

.icon {
  width: 50px;
  /* Style your icon if needed */
  /* margin-right: 15px; */
  font-size: 2em;
  /* Example if using emojis */
}

.stepText {
  text-align: left;
  margin-left: 30px;
}

.stepTitle {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 20px;
}

.stepDescription {
  font-size: 16px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.1;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
}

/* CSS adjustments for desktop */
@media (min-width: 768px) {
  .contentSection {
    display: flex;
    flex-direction: row;
    /* Ensure side-by-side layout */
    align-items: stretch;
    /* Change this to stretch to make both sections equal height */
  }

  .imageSectionWorks,
  .stepsSection {
    width: 50%; /* Change max-width to width to ensure equal width */
    flex: 1;
    /* Allow both sections to grow equally */
  }

  .imageSectionWorks {
    order: 1;
    /* Ensure image section comes first/left */
  }

  .stepsSection {
    order: 2;
    /* Ensure steps section comes after/right */
    /* Remove float:right; from here, flexbox controls the layout */
    padding: 40px; /* Increase padding for larger screens */
  }

  .imageWorks {
    max-height: 750px;
  }

  /* Update your .stepCard width if needed */
  .stepCard {
    max-width: 25vw; /* Change max-width to 100% to fill the container */
    margin: auto; /* Adjust margin for spacing */
  }
  .stepTitle {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 20px;
  }
  
  .stepDescription {
    font-size: 18px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.1;
  }
  
}