/* container */
.location-wrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 32.19px 23.78px 34.44px;
}

.location-title {
  text-align: center;
  color: #0f9e82;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin: 0px;
}
.location-subtitle {
  margin-top: 19px;
  margin-bottom: 28px;
  font-size: 14px;
  color: #4b5563;
}

.location-map-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto 2rem;
  background-color: #eaeaea;
  padding: 8px;
}

.location-map-img {
  max-width: 400px;
  height: 333px;
}
.location-button-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 9px;
}

.location-toggle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f5f5f5;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.toggle-btn {
  padding: 8px;
  border: none;
  background: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #0f9e82;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-btn.active {
  background-color: white;
  color: #0a0a0a;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.location-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3b30;
  color: white;
  text-decoration: none;
  border: none;
  padding: 14px;
  font-size: 13px;
  border-radius: 0;
  font-weight: 300;
  cursor: pointer;
  transition: background 0.2s;
}

.location-button:hover {
  background-color: #e03228;
}

.location-button-icon {
  margin-right: 3.9px;
}
@media (min-width: 768px) {
  .location-button-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .location-button {
    font-size: 18px;
  }
  .toggle-btn {
    font-size: 18px;
  }
  .location-title{
    font-size: 50px;
  }
  .location-subtitle{
    font-size: 18px;
  }
}
